# TOOLS
VT_API_KEY=
VT_API_BASE_URL=https://www.virustotal.com/api/v3

# DYNAMIC ANALYSIS
AIM_VBOXMANAGE_API_HOST=host.docker.internal
AIM_VBOXMANAGE_API_PORT=8090

AIM_DYNAMIC_VICTIM_VM=W7X64SP1
AIM_DYNAMIC_VICTIM_SNAPSHOT=Agent
AIM_DYNAMIC_VICTIM_SHARED_PATH=Z:\shared

AIM_DYNAMIC_ANALYSIS_VM=REMnux
AIM_DYNAMIC_ANALYSIS_SHARED_PATH=/opt/aim/shared
AIM_DYNAMIC_ANALYSIS_SHARED_MOUNT_POINT=/home/remnux/AIM

AIM_DYNAMIC_ANALYSIS_BASE_URL=http://192.168.255.1:8080

# AI LOCAL PROVIDER
# Base URL of the Ollama server.
# Examples:
#   http://host.docker.internal:11434 # Native Ollama
#   http://localhost:11434            # Docker Compose service due to exposure
#   http://ollama:11434               # Docker Compose service
OLLAMA_BASE_URL=http://ollama:11434  
OLLAMA_PRELOAD_MODELS="gemma4:e2b"

# AI CLOUD PROVIDERS
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_STATIC_MODEL=
OPENAI_DYNAMIC_MODEL=
OPENAI_ENRICHMENT_MODEL=
OPENAI_REVERSING_MODEL=
OPENAI_REPORT_MODEL=

GEMINI_API_KEY=
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai
GEMINI_STATIC_MODEL=gemini-2.5-flash
GEMINI_DYNAMIC_MODEL=gemini-2.5-flash
GEMINI_ENRICHMENT_MODEL=gemini-2.5-flash
GEMINI_REVERSING_MODEL=gemini-2.5-flash
GEMINI_REPORT_MODEL=gemini-2.5-flash
